{
  "openapi": "3.1.0",
  "info": {
    "title": "Hookie API",
    "version": "1.0.0",
    "summary": "Capture, route and deliver webhooks.",
    "description": "Hookie exposes three HTTP surfaces.\n\n**Ingest + streaming** is the public plane. A path-form endpoint URL authenticates by its own high-entropy slug \u2014 there is no key, token or cookie \u2014 and an `ik_live_\u2026` ingest key authenticates the `/v1/*` routes. An endpoint URL files each payload into the endpoint's own dataset through the endpoint's own criteria and mappings (none means the whole payload, as one record); `/v1/ingest/{ingest_key}/{dataset}` stores the payload whole into the named dataset. Project mapping rules are evaluated on exactly one shape, `POST /v1/ingest/{ingest_key}` with no dataset segment, and never on an endpoint URL.\n\n**The customer portal API** is a separate, token-authed surface for your end customers, scoped to one portal and one customer.\n\n**The admin API** drives the console. It accepts either a browser session or an OAuth bearer token from a connected coding agent \u2014 the same routes, the same validation, the same audit trail. An agent's authority is its user's workspace role narrowed to the scopes granted in the console. It also accepts an **admin API key** (`hk_\u2026`, Settings \u2192 API keys) for CI, infrastructure-as-code and vendor backends: the key acts as the member who created it, capped at the key's role (viewer, developer or admin \u2014 never billing or platform administration), optionally limited to one project, with an optional expiry and IP allowlist. Keys are stored as a SHA-256 hash and shown once; if their creator leaves the workspace they stop working. The same key works on the hosted MCP server at `/mcp`.\n\n**A refused agent is told how to proceed.** An agent's grant is one rung of a ladder \u2014 `hookie:read` < `hookie:write` < `hookie:manage` \u2014 and a call above it answers 403 with `code: \"agent_scope_insufficient\"`, the `required_scope`, the `granted_scopes` and a `manage_url` to the console page where its user widens it. When the user's own role is the limit the code is `insufficient_role` and there is no link, because no grant can exceed the user; billing, platform admin, managing connected agents and destination signing secrets answer `agent_not_permitted` at every scope. A human in the console still reads `Insufficient role`.\n\n**A suspended workspace** (an operator action, for abuse or non-payment) answers every surface with 403 and `reason: \"workspace_suspended\"`: ingest (endpoint URLs and ingest keys), `/v1/data` and `/v1/stream` refuse before anything is stored or counted, and every admin API write \u2014 console, OAuth agent or hosted MCP alike \u2014 is refused except billing, platform admin, connected-agent management, revoking an API key and the POST-bodied searches. The customer portal API is read-only in the same way: destination writes answer 403 `workspace_suspended`. Reads keep working. Nothing is sent while it is suspended: pending deliveries are paused, workflow runs already under way are paused, open `/v1/stream` connections are closed, and cron triggers, database sources and WebSocket listeners stop. Reinstating sends the paused deliveries, resumes the paused workflow runs where they stopped, and resumes the rest; no stored data is lost.\n\n**Rate limits.** `/admin/api/*` and `/mcp` allow about 100 requests every 10 seconds per credential \u2014 per API key, per connected agent, or per signed-in person. Over that, the answer is 429 with `Retry-After` (seconds). Like every burst limit here, ingest's included, it is a best-effort guard rather than an exact count: it is counted separately at each Cloudflare location and catches up within seconds, so a short burst can get through above it. The monthly event quota is the exact count.\n\n**Idempotency.** A `POST` to `/admin/api/*` may carry an `Idempotency-Key` header (1\u2013255 printable characters, e.g. a UUID). The first request runs and its response is stored for 24 hours; a retry with the same key from the same credential, with the same path and body, gets that response back with `Idempotent-Replayed: true` and runs nothing. The same key with a different path, body or credential is refused with 422; a retry while the first request is still running gets 409. 5xx responses are not stored. `POST /admin/api/api-keys` refuses the header, because its response is a secret shown once and is never stored.\n\n**Versioning.** Every `/admin/api/*` and `/mcp` response carries `Hookie-Version` (currently `2026-09-29`). Additive changes \u2014 a new route, a new response field, a new optional parameter \u2014 ship under the current version, so clients must ignore fields they do not know. A breaking change gets a new dated version, announced in the changelog, and the previous version stays available for at least 12 months; a client pins one by sending `Hookie-Version` on its requests. A version this deployment does not serve is refused with 400 and the list of `supported_versions`.\n\nThis document is generated from the request handlers and adversarially verified against them.",
    "contact": {
      "name": "Hookie",
      "url": "https://hookie.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://hookie.ai/legal/terms"
    }
  },
  "servers": [
    {
      "url": "https://app.hookie.ai",
      "description": "Production"
    },
    {
      "url": "https://app.preview.hookie.ai",
      "description": "Preview"
    }
  ],
  "tags": [
    {
      "name": "Ingest",
      "description": "Send events to Hookie."
    },
    {
      "name": "Streaming",
      "description": "Tail events in real time over SSE or WebSocket."
    },
    {
      "name": "Portal",
      "description": "Token-authed surface for your end customers."
    },
    {
      "name": "Projects",
      "description": "Projects and their settings."
    },
    {
      "name": "Routing",
      "description": "Rules, endpoints, datasets and records."
    },
    {
      "name": "Delivery",
      "description": "Destinations, deliveries and replay."
    },
    {
      "name": "Workflows",
      "description": "Multi-step workflows, triggers and AI agents."
    },
    {
      "name": "Observability",
      "description": "Search, correlation, stats and the audit log."
    },
    {
      "name": "Workspace",
      "description": "The workspace itself: its name and slug, admin API keys, data export and closure. There are no member invites or member routes yet (#258): a workspace has its owner, plus any admin the platform sets up."
    },
    {
      "name": "Data API",
      "description": "Read-only access to the datasets and columns a project exposes, with per-project keys."
    },
    {
      "name": "Broadcast Logs",
      "description": "Forward a project's logs and traces over OTLP/HTTP (JSON) to Datadog, Grafana Cloud, an OpenTelemetry Collector, PostHog or Sentry."
    }
  ],
  "components": {
    "securitySchemes": {
      "ingestKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An `ik_live_\u2026` ingest key. Stored hashed; the plaintext is returned once at creation."
      },
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "hookie_session",
        "description": "The console's sealed session cookie, set by WorkOS AuthKit. Mutating requests also require the `X-Requested-With` CSRF header."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "An OAuth 2.1 access token from a connected agent, audienced at the `/mcp` resource URI. The agent acts as its user, with that user's role narrowed to the granted `hookie:*` scopes. No CSRF header is required \u2014 a bearer token is not ambient credentials."
      },
      "portalTokenHeader": {
        "type": "http",
        "scheme": "bearer",
        "description": "A `hpt_\u2026` customer portal token, as `Authorization: Bearer`. Stored hashed and looked up by its full SHA-256 hash; shown once at issue. The query string (`?token=`) is not accepted: a token there ends up in request logs and traces. A browser page trades the token for a `portalSession` cookie with POST /portal/api/session."
      },
      "dataApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A project Data API key (hdk_\u2026), created in the project's Settings \u2192 Data API."
      },
      "portalSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-hookie_portal",
        "description": "The customer portal's session cookie, set by POST /portal/api/session: sealed (AES-GCM), HttpOnly, Secure, SameSite=None, Partitioned, and valid for 8 hours or until the token expires, whichever is sooner. It names the token rather than copying what it grants, so revoking the token or switching the portal off ends the session at once. Requests other than GET made with it must carry `X-Requested-With: fetch` (CSRF)."
      },
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An `hk_\u2026` admin API key from Settings \u2192 API keys. Acts as the member who created it, capped at the key's role (viewer, developer or admin) and optionally one project. Stored as a SHA-256 hash, shown once. No CSRF header is required."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable reason."
          },
          "retry_after": {
            "type": "integer",
            "description": "Seconds to wait. Present on 429."
          },
          "upgrade_url": {
            "type": "string",
            "format": "uri",
            "description": "Present only on a monthly-quota 429."
          },
          "reason": {
            "type": "string",
            "description": "Machine-readable reason, where the status alone is ambiguous. `workspace_suspended` (403): the workspace is suspended; `delivery_allowance_exhausted` (429): a replay was refused because the monthly delivery allowance is used. `endpoint_disabled` (503): the endpoint is switched off; `handshake_failed`: a provider URL-verification challenge could not be answered (#193). `missing_header`, `bad_signature`, `stale_timestamp` (401): an endpoint's provider signature check failed; `scheme` names the check."
          },
          "code": {
            "type": "string",
            "enum": [
              "agent_scope_insufficient",
              "insufficient_role",
              "agent_not_permitted"
            ],
            "description": "Present on a 403 to an OAuth-connected agent. `agent_scope_insufficient`: the agent's grant is below what the call needs, and widening it would let the call through (see `required_scope` and `manage_url`). `insufficient_role`: the user's OWN workspace role does not allow the call, so no grant can \u2014 and roles cannot be changed in the product yet, so the call is one for the workspace owner. `agent_not_permitted`: no connected agent may do this at any scope (billing, platform admin, managing connected agents, a destination's signing secret)."
          },
          "required_scope": {
            "type": "string",
            "enum": [
              "hookie:read",
              "hookie:write",
              "hookie:manage"
            ],
            "description": "With `code`: the scope the refused call needs."
          },
          "granted_scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "With `code`: the scopes the agent's grant holds now."
          },
          "manage_url": {
            "type": "string",
            "format": "uri",
            "description": "With `code: \"agent_scope_insufficient\"` only: the console's Settings \u2192 Connected agents page, opened on this agent (`\u2026/#/settings/agents?client=<client_id>`), where its user widens the grant. The change applies on the agent's next request."
          },
          "scheme": {
            "type": "string",
            "description": "Present on a signature 401: the endpoint's verification scheme."
          }
        }
      },
      "DeliveryEnvelope": {
        "type": "object",
        "description": "The body of every outbound delivery. Always this envelope; the record's payload is under data. Verify signatures over the raw bytes as received, never a re-serialisation.",
        "required": [
          "id",
          "dataset",
          "received_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The record (event) id. The same on every retry and replay of it."
          },
          "dataset": {
            "type": "string"
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "description": "The record's payload, as routed."
          }
        }
      },
      "EndpointVerificationInput": {
        "type": "object",
        "required": [
          "scheme"
        ],
        "additionalProperties": false,
        "description": "Provider signature verification (#210). Ingest checks the signature over the raw request bytes before idempotency, the quota and the store; a missing header, a forged signature or a stale timestamp answers 401 {reason, scheme} and is neither stored nor counted, and writes an ingest_signature_rejected audit row. Applies on the public path-form URL and on /v1/webhooks/{ingest_key}/{slug}. Settings that do not apply to the scheme are refused with 400.",
        "properties": {
          "scheme": {
            "type": "string",
            "enum": [
              "none",
              "stripe",
              "github",
              "shopify",
              "slack",
              "standard_webhooks",
              "hmac"
            ],
            "description": "none (default): no check. stripe: Stripe-Signature t=,v1= over `<t>.<body>`. github: X-Hub-Signature-256 sha256=<hex>. shopify: X-Shopify-Hmac-Sha256, base64. slack: X-Slack-Signature v0=<hex> over `v0:<X-Slack-Request-Timestamp>:<body>`. standard_webhooks: webhook-id / webhook-timestamp / webhook-signature (svix-* accepted too), secret whsec_<base64>. hmac: generic HMAC of the body in a configurable header."
          },
          "secret": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "writeOnly": true,
            "description": "The provider's signing secret. Stored AES-256-GCM encrypted and never returned by any response, audit row or log. Required when turning a scheme on, unless a create sends without_secret: true; on PATCH it may be omitted to keep what is held (a secret, or none for an endpoint created without one), under the same scheme only. A secret set here replaces the old one at once; use rotate-verification-secret for an overlap."
          },
          "without_secret": {
            "type": "boolean",
            "const": true,
            "description": "Create only (#238): make the endpoint verify this scheme with NO secret yet. It then refuses every request with 401 (reason bad_signature, \"This endpoint requires a signature but has no secret to check it with\") until a secret is set with PATCH, and responses say has_secret: false. This is how a configuration import, a clone and `hookie apply` recreate an endpoint's verification, since a secret is never exported. Refused with secret, with scheme none, and on PATCH."
          },
          "header": {
            "type": "string",
            "default": "X-Signature",
            "description": "hmac only: the header carrying the signature."
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "sha256",
              "sha1"
            ],
            "default": "sha256",
            "description": "hmac only."
          },
          "encoding": {
            "type": "string",
            "enum": [
              "hex",
              "base64"
            ],
            "default": "hex",
            "description": "hmac only."
          },
          "prefix": {
            "type": "string",
            "maxLength": 32,
            "description": "hmac only: text before the digest, e.g. sha256=."
          },
          "tolerance_seconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 86400,
            "default": 300,
            "description": "stripe, slack and standard_webhooks only: how far the signed timestamp may sit from now."
          }
        },
        "example": {
          "scheme": "stripe",
          "secret": "whsec_..."
        }
      },
      "EndpointVerification": {
        "type": "object",
        "required": [
          "scheme"
        ],
        "description": "An endpoint's signature verification as responses describe it: the scheme and its settings, never the secret.",
        "properties": {
          "scheme": {
            "type": "string",
            "enum": [
              "none",
              "stripe",
              "github",
              "shopify",
              "slack",
              "standard_webhooks",
              "hmac"
            ]
          },
          "header": {
            "type": "string"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "sha256",
              "sha1"
            ]
          },
          "encoding": {
            "type": "string",
            "enum": [
              "hex",
              "base64"
            ]
          },
          "prefix": {
            "type": "string"
          },
          "tolerance_seconds": {
            "type": "integer"
          },
          "has_secret": {
            "type": "boolean",
            "description": "Whether a secret is held. Absent when scheme is none. false for an endpoint created with without_secret (for example by a configuration import or clone): it refuses every request with 401 until a secret is set."
          },
          "previous_secret_expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "After a rotation, when the replaced secret stops verifying; null outside an overlap. Absent when scheme is none."
          }
        }
      },
      "Condition": {
        "type": "object",
        "description": "One condition of the one condition dialect (#165, extended in #201), accepted by rules, endpoint criteria, workflow entry/branch/wait conditions, AI-trigger match conditions and WebSocket-trigger conditions. Either {path, op, value} or the shorthand {path, equals}. op: equals | not_equals | contains | exists | gt | gte | lt | lte | in | regex. exists takes no value; gt/gte/lt/lte need a finite number and match a numeric field, or a string field that is a plain decimal once trimmed (optional sign, digits, optional fraction), such as a form's \"150\" (#259); hex, exponents, empty and other text never match; contains needs a string; in needs a list of 1-100 scalars; regex needs a pattern of at most 200 characters that compiles, with no backreferences, no repeated group that itself repeats or alternates ((a+)+, (a|b)*) and at most 2 open-ended repetitions (*, +, {n,}), and is tested against the first 256 characters of a string field. In rules and endpoint criteria equals, not_equals and in compare as TEXT (an exact match is stored as {path, equals}); in workflows and triggers they compare with ===. All conditions in a list must hold (AND); an empty list matches everything. An invalid condition is refused with 400 when saved.",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Dot path into the payload."
          },
          "op": {
            "type": "string",
            "enum": [
              "equals",
              "not_equals",
              "contains",
              "exists",
              "gt",
              "gte",
              "lt",
              "lte",
              "in",
              "regex"
            ]
          },
          "value": {
            "description": "Required for every op but exists."
          },
          "equals": {
            "description": "Shorthand for op equals with this value; not together with op/value."
          }
        },
        "additionalProperties": false
      },
      "ProjectConfig": {
        "type": "object",
        "description": "A project's configuration (DX-10, #201) \u2014 the hookie.yml shape, so `hookie apply` reads an export as it is. NOTHING SECRET IS IN IT: no endpoint URL (its slug is the credential), endpoint verification secret, destination signing secret or ingest key. Sources, WebSocket triggers and portals hold encrypted credentials and are listed under not_exported instead. Identity per kind: an endpoint's slug, a record view's dataset + name, everything else's name.",
        "properties": {
          "version": {
            "type": "integer",
            "const": 1
          },
          "project": {
            "type": [
              "string",
              "null"
            ],
            "description": "The source project's slug; informational."
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "{name, slug, dataset, enabled, criteria, mappings, ip_allowlist?, verification} \u2014 one per endpoint, its newest version. verification (#238) is the endpoint's signature scheme and non-secret settings, {scheme, header?, algorithm?, encoding?, prefix?, tolerance_seconds?} ({scheme: \"none\"} when it does not verify); never the secret, the previous secret or has_secret. An import recreates a verifying scheme with no secret (without_secret: true), so the copy refuses every request with 401 until a secret is set, and lists it under needs_verification_secret. An entry without verification is created without it."
            }
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "{name, dataset, enabled, conditions, mappings}"
            }
          },
          "destinations": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "{name, url, enabled, dataset_filter?, timeout_seconds?, max_per_second?, max_concurrency?} \u2014 portal-owned destinations excluded."
            }
          },
          "ai_agents": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "{ref, name, active, model, system_prompt, tools, memory_dataset?, max_tokens?}. ref is the source agent's id: an import points a workflow agent_call that names it at the agent it creates."
            }
          },
          "workflows": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "{name, slug, active, entry_dataset, entry_conditions, steps}"
            }
          },
          "triggers": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "AI triggers: {name, enabled, match, action_type, config}"
            }
          },
          "cron_triggers": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "{name, enabled, schedule, timezone, payload, dataset}"
            }
          },
          "record_views": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "{dataset, name, columns, sort_key, sort_dir, is_default}"
            }
          },
          "not_exported": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                },
                "reason": {
                  "type": "string"
                }
              }
            },
            "description": "Informational; an import ignores it."
          }
        }
      },
      "ConfigImportResult": {
        "type": "object",
        "required": [
          "ok",
          "created",
          "skipped",
          "failed",
          "needs_verification_secret"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "True when nothing failed."
          },
          "created": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "note": {
                  "type": "string",
                  "description": "Set when an endpoint's slug was taken in the workspace (slugs are unique per workspace) and it was created as slug-copy, and when an endpoint was created verifying a scheme with no secret (it refuses every request until one is set)."
                }
              }
            }
          },
          "skipped": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              }
            }
          },
          "failed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                }
              }
            }
          },
          "needs_verification_secret": {
            "type": "array",
            "description": "Endpoints created verifying a provider's signature but holding NO secret (#238): the document carried the scheme and settings, never a secret. Each refuses every request with 401 until its secret is set (console Edit \u2192 Verification, or PATCH webhooks/{id} with verification {scheme, secret}). slug is the endpoint's slug as created (with any -copy suffix).",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "slug",
                "scheme"
              ],
              "properties": {
                "id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "scheme": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EraseCounts": {
        "type": "object",
        "description": "What an erasure removed (SEC-6, #195).",
        "required": [
          "records",
          "submissions",
          "deliveries",
          "workflow_runs"
        ],
        "properties": {
          "records": {
            "type": "integer"
          },
          "submissions": {
            "type": "integer",
            "description": "Raw submissions deleted. A submission that routed into several records goes with the first of them deleted; the others keep their own payload with submission_id cleared."
          },
          "deliveries": {
            "type": "integer",
            "description": "Delivery rows deleted, replays (`<record>#replay:<n>`) included, with their stored response bodies."
          },
          "workflow_runs": {
            "type": "integer",
            "description": "Workflow instances the record started (with their step log, waiters and AI calls)."
          }
        }
      },
      "DatasetPurge": {
        "type": "object",
        "required": [
          "id",
          "dataset",
          "status",
          "records_deleted",
          "requested_at",
          "finished_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "dataset": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "done"
            ]
          },
          "records_deleted": {
            "type": "integer"
          },
          "records_remaining": {
            "type": "integer",
            "description": "Records still to delete (received at or before the request). 0 once done."
          },
          "requested_at": {
            "type": "string",
            "format": "date-time",
            "description": "Also the cutoff: records received after it are not part of the purge."
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "WorkspaceClosure": {
        "type": "object",
        "required": [
          "requested_at",
          "purge_at",
          "grace_days"
        ],
        "properties": {
          "requested_at": {
            "type": "string",
            "format": "date-time"
          },
          "purge_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the scheduled sweep starts deleting the workspace's data. Until then the owner can undo the closure."
          },
          "grace_days": {
            "type": "integer",
            "description": "Days between closing and deletion (14)."
          }
        }
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes a POST safe to retry for 24 hours: the same key, credential, path and body returns the stored response (`Idempotent-Replayed: true`) instead of running again. 422 if the key was used for a different request; 409 while the first is in flight.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Page size, 1-1000. Omitted, the whole list up to 1000 rows (#201).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 1000
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Rows to skip (#201).",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      }
    },
    "responses": {
      "RateLimited": {
        "description": "Over this credential's burst limit (about 100 requests per 10 seconds; best-effort, counted separately at each Cloudflare location). Retry after `Retry-After` seconds.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds to wait."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/{workspace}/{project}/{webhook}": {
      "post": {
        "operationId": "ingestPathForm",
        "summary": "Ingest an event through the public webhook URL",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Duplicate - this endpoint (or, on /v1/ingest, this ingest key) already stored a submission with the same dedup key, so the retry is answered with the first submission's id and nothing is stored or counted (ING-9, #193). The dedup key is, in order: an Idempotency-Key header; else a provider delivery id kept the same across that provider's retries - webhook-id (Standard Webhooks), svix-id, X-GitHub-Delivery, X-Shopify-Webhook-Id, X-Gitlab-Event-UUID, I-Twilio-Idempotency-Token, Linear-Delivery, Twitch-Eventsub-Message-Id, X-Atlassian-Webhook-Identifier; else Stripe's event id (a body with object 'event' and an evt_ id) or Slack's event_id (type 'event_callback'). The key space is the ENDPOINT's, not the workspace's: two endpoints may receive the same key. `deduplicated_by` names which source matched. A request that loses the unique-index race has already been counted against the monthly quota. ALSO 200 for an answered URL-verification challenge (ING-10): the challenge as text/plain, or Zoom's JSON {plainToken, encryptedToken}. Nothing is stored or counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string",
                      "description": "id of the submission stored by the first request"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "deduplicated_by": {
                      "type": "string",
                      "enum": [
                        "idempotency-key",
                        "standard-webhooks",
                        "svix",
                        "github",
                        "shopify",
                        "gitlab",
                        "twilio",
                        "linear",
                        "twitch",
                        "atlassian",
                        "stripe",
                        "slack"
                      ],
                      "description": "Which dedup source matched."
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored. The endpoint's own criteria and mappings apply (ING-1); project rules do not run on this URL. If the criteria are empty or match, the payload (mapped, or whole when the endpoint has no mappings) becomes one record in the endpoint's dataset and 'routed' holds that dataset name. If the criteria do not match, the submission is still stored and counted and the response is 201 with routed: [] and records: 0. Routing errors after the submission row is written are swallowed (the raw submission is never lost), which looks the same.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "the dataset the record landed in"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota. Also reason 'handshake_failed' when the endpoint's URL-verification challenge arrives without a usable challenge or token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. The Cloudflare client IP must match BOTH the webhook's IP allowlist and the tenant's (an empty allowlist matches everything; a request with no client IP skips the check). The block is written to the audit log. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint'. Uniform miss for any of: unknown workspace slug, unknown project slug, unknown webhook slug. A webhook that exists but is disabled answers 503 instead. After a rotation the previous webhook slug is still accepted until its overlap ends, then it is 404 like any unknown slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'. Checked against Content-Length first, then against the buffered byte length. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: about 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. It is a best-effort burst guard, not an exact count: it is counted separately at each Cloudflare location and catches up within seconds, so a short burst can get through above it. Monthly plan quota, the exact count (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer",
                          "description": "seconds: 10 for the edge rate limit, 3600 for the monthly quota"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "monthly-quota 429 only"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Could not store submission' \u2014 the submissions insert failed with no idempotency winner to fall back to. Also 'handshake_failed' when a Zoom challenge arrives at an endpoint with no secret token (cannot be configured through the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The endpoint exists but is disabled: {error: 'This endpoint is disabled, so events sent to it are not being stored. ...', reason: 'endpoint_disabled'}. Nothing is stored and no quota is charged. It is deliberately not the 404 of a wrong URL: providers treat a 404 as a dead endpoint (and may disable it or drop the events), while a 503 is retried, so events sent while it is disabled can still arrive if it is enabled again within the provider's retry window. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "enum": [
                            "endpoint_disabled"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The endpoint verifies its provider's signature (#210) and this request's is missing (reason missing_header), does not match the raw body under the endpoint's secret (bad_signature), or carries a timestamp outside the tolerance (stale_timestamp). The body names the header and the scheme; nothing is stored or counted and an ingest_signature_rejected audit row is written.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "303": {
            "description": "See Other (ING-8, #193): a browser's native HTML form POST to an endpoint with a redirect_url, once the submission is stored (or recognised as a duplicate). Location is the endpoint's redirect_url.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "The endpoint's redirect_url."
              }
            }
          }
        },
        "description": "Public webhook URL, app.hookie.ai/{workspace}/{project}/{webhook}. POST, plus OPTIONS (the CORS preflight) and a GET carrying hub.challenge (Meta's URL verification); any other GET, and PUT, fall through to the console and never reach ingest. Only 3- or 4-segment paths match. Every stored submission keeps the request's method, a filtered header map, the query string, the Content-Type and the source IP (ING-3, #193), shown on the record (GET .../records/{id}) and on correlate as `request`. Credentials are never stored: Authorization, Proxy-Authorization, Cookie and any header or query parameter named like a credential (key, api-key, token, secret, password, session, auth) is stored as \"[redacted]\"; Cloudflare and proxy hop headers (cf-*, x-forwarded-*, x-real-ip, true-client-ip, cdn-loop, host) are dropped. HTML forms (ING-8, #193): when the endpoint has a redirect_url, a browser's native form POST (a form encoding with Sec-Fetch-Mode: navigate, or with an Accept that asks for text/html from an older browser) is answered 303 See Other to that URL once stored (a deduplicated retry too); fetch() calls and servers still get the JSON. CORS: when the request's Origin is in the endpoint's cors_origins (or they include \"*\"), every response carries Access-Control-Allow-Origin, Access-Control-Expose-Headers: Retry-After and Vary: Origin. URL verification (ING-10, #193): an endpoint whose handshake is slack, graph, zoom or twitch answers that provider's challenge with 200 before anything is stored or counted - Slack's url_verification body and Twitch's webhook_callback_verification (Twitch-Eventsub-Message-Type header) with the challenge as text/plain, Microsoft Graph's ?validationToken= with the token as text/plain, and Zoom's endpoint.url_validation with {plainToken, encryptedToken} (HMAC-SHA256 of plainToken under the endpoint's secret token). Every other request is an ordinary event.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug. Must not be one of the reserved roots reserved for app internals (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp) \u2014 those never reach the ingest handler.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug. This high-entropy slug IS the credential \u2014 no key, token or cookie is sent. A disabled webhook answers 503 rather than 404.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission already exists for this tenant with the same key, the request short-circuits with 200 before the monthly quota is charged, so retries are free.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Content-Type selects the parser: 'application/x-www-form-urlencoded' and 'multipart/form-data' are flattened into a shallow object (a field that repeats becomes an array; a file part becomes {filename, type, size} and its BYTES ARE DISCARDED; field names are kept verbatim and flat, so an input named user.email stays the key 'user.email'). ANY other body is parsed as JSON first, whatever its Content-Type (a missing or wrong one included). A body that is not JSON is kept as text when its Content-Type is textual: text/* (plain, csv, xml, ...), application/xml or any +xml type, NDJSON / JSON Lines (application/x-ndjson, application/ndjson, application/jsonl, application/x-jsonlines), application/csv and YAML. It is stored as one event, {\"body\": \"<the text, verbatim>\", \"content_type\": \"<media type, lowercased, parameters stripped>\"}, decoded as UTF-8; NDJSON is not split into several events. A body that does parse as JSON is stored as JSON whatever its Content-Type, exactly as before, so a provider that posts JSON as text/plain still gets an object. A non-JSON body that declares JSON (or no Content-Type) is 400, and one of any other type (application/octet-stream, image/*, ...) is 415. An empty body is accepted and becomes {}. A payload that is not a JSON object (array or scalar) is wrapped as {\"value\": <payload>} before it is stored as a record. Bodies over 1,000,000 bytes are rejected with 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value. Objects are stored field-for-field; arrays and scalars are wrapped as {value: <payload>}."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "description": "File part descriptor; the bytes are not stored.",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": []
      },
      "options": {
        "operationId": "ingestPathFormPreflight",
        "summary": "CORS preflight for a page's fetch() to the public webhook URL",
        "tags": [
          "Ingest"
        ],
        "description": "ING-8 (#193). Answered for an Origin in the endpoint's cors_origins (or when they include \"*\"): 204 with Access-Control-Allow-Origin (the origin, or * for any), Access-Control-Allow-Methods: POST, Access-Control-Allow-Headers: Content-Type, Idempotency-Key, and Access-Control-Max-Age: 600. Any other origin, or an endpoint with no allowed origins (the default), gets 403 and no CORS header, so the browser blocks the call. Nothing is stored or counted. Credentials are never allowed: the URL is the credential.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug. Must not be one of the reserved roots reserved for app internals (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp) \u2014 those never reach the ingest handler.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug. This high-entropy slug IS the credential \u2014 no key, token or cookie is sent. A disabled webhook answers 503 rather than 404.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission already exists for this tenant with the same key, the request short-circuits with 200 before the monthly quota is charged, so retries are free.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "204": {
            "description": "Preflight allowed.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "const": "POST"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Max-Age": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "The origin is not allowed (logged as reason cors_origin_not_allowed). Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ingestPathFormMetaVerification",
        "summary": "Meta's URL verification (hub.challenge) on the public webhook URL",
        "tags": [
          "Ingest"
        ],
        "description": "ING-10 (#193). Reaches ingest only when the query carries hub.challenge; any other GET is the console. For an endpoint whose handshake is meta: with hub.mode=subscribe and a hub.verify_token equal to the endpoint's verify token (handshake_secret), answers 200 text/plain with hub.challenge. A different token is 403 'handshake_failed'. Checked after the endpoint's disabled state, IP allowlists, suspension and burst limit. Nothing is stored or counted.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug. Must not be one of the reserved roots reserved for app internals (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp) \u2014 those never reach the ingest handler.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug. This high-entropy slug IS the credential \u2014 no key, token or cookie is sent. A disabled webhook answers 503 rather than 404.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission already exists for this tenant with the same key, the request short-circuits with 200 before the monthly quota is charged, so retries are free.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hub.mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "const": "subscribe"
            }
          },
          {
            "name": "hub.challenge",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          },
          {
            "name": "hub.verify_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The challenge, verbatim.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "reason 'handshake_failed': no usable hub.challenge. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "reason 'handshake_failed': hub.verify_token does not match. Also 'Source IP not allowed' and workspace_suspended. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "The endpoint does not answer Meta's handshake: 'Use POST'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Burst rate limit (about 100 requests per 10 seconds per endpoint URL; best-effort). Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The endpoint is disabled. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{workspace}/{project}/{webhook}/{dataset}": {
      "post": {
        "operationId": "ingestPathFormToDataset",
        "summary": "Ingest an event through the public webhook URL, naming its dataset",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Duplicate - this endpoint (or, on /v1/ingest, this ingest key) already stored a submission with the same dedup key, so the retry is answered with the first submission's id and nothing is stored or counted (ING-9, #193). The dedup key is, in order: an Idempotency-Key header; else a provider delivery id kept the same across that provider's retries - webhook-id (Standard Webhooks), svix-id, X-GitHub-Delivery, X-Shopify-Webhook-Id, X-Gitlab-Event-UUID, I-Twilio-Idempotency-Token, Linear-Delivery, Twitch-Eventsub-Message-Id, X-Atlassian-Webhook-Identifier; else Stripe's event id (a body with object 'event' and an evt_ id) or Slack's event_id (type 'event_callback'). The key space is the ENDPOINT's, not the workspace's: two endpoints may receive the same key. `deduplicated_by` names which source matched. A request that loses the unique-index race has already been counted against the monthly quota. ALSO 200 for an answered URL-verification challenge (ING-10): the challenge as text/plain, or Zoom's JSON {plainToken, encryptedToken}. Nothing is stored or counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "deduplicated_by": {
                      "type": "string",
                      "enum": [
                        "idempotency-key",
                        "standard-webhooks",
                        "svix",
                        "github",
                        "shopify",
                        "gitlab",
                        "twilio",
                        "linear",
                        "twitch",
                        "atlassian",
                        "stripe",
                        "slack"
                      ],
                      "description": "Which dedup source matched."
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored. {dataset} is the endpoint's own dataset, and the endpoint's own criteria and mappings apply as on the three-segment URL (ING-1); project rules do not run. A match (or empty criteria) makes one record and 'routed' holds that dataset name; a non-match, or a swallowed routing error, is routed: [] and records: 0 with the submission kept.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota. Also reason 'handshake_failed' when the endpoint's URL-verification challenge arrives without a usable challenge or token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The fourth segment names a dataset other than the endpoint's own. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint' \u2014 unknown workspace/project slug or unknown webhook slug (a disabled one answers 503). After a rotation the previous webhook slug is still accepted until its overlap ends, then it is 404 like any unknown slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: about 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. It is a best-effort burst guard, not an exact count: it is counted separately at each Cloudflare location and catches up within seconds, so a short burst can get through above it. Monthly plan quota, the exact count (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Could not store submission' \u2014 the submissions insert failed with no idempotency winner to fall back to. Also 'handshake_failed' when a Zoom challenge arrives at an endpoint with no secret token (cannot be configured through the API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The endpoint exists but is disabled: {error: 'This endpoint is disabled, so events sent to it are not being stored. ...', reason: 'endpoint_disabled'}. Nothing is stored and no quota is charged. It is deliberately not the 404 of a wrong URL: providers treat a 404 as a dead endpoint (and may disable it or drop the events), while a 503 is retried, so events sent while it is disabled can still arrive if it is enabled again within the provider's retry window. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "enum": [
                            "endpoint_disabled"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The endpoint verifies its provider's signature (#210) and this request's is missing (reason missing_header), does not match the raw body under the endpoint's secret (bad_signature), or carries a timestamp outside the tolerance (stale_timestamp). The body names the header and the scheme; nothing is stored or counted and an ingest_signature_rejected audit row is written.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "303": {
            "description": "See Other (ING-8, #193): a browser's native HTML form POST to an endpoint with a redirect_url, once the submission is stored (or recognised as a duplicate). Location is the endpoint's redirect_url.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "The endpoint's redirect_url."
              }
            }
          }
        },
        "description": "Four-segment form of the public webhook URL. POST, plus the OPTIONS preflight and Meta's hub.challenge GET, which behave as on the three-segment URL; other methods fall through to the console. The fourth segment must be the endpoint's OWN dataset: any other value is refused with 403. It used to override the dataset with any dataset in the project, which let anyone holding a public endpoint URL (one embedded in an HTML form, say) write into every dataset in the project and set off its destinations, triggers and workflows. To route one source into several datasets, use an ingest key: POST /v1/ingest/{ingest_key}/{dataset}. Every stored submission keeps the request's method, a filtered header map, the query string, the Content-Type and the source IP (ING-3, #193), shown on the record (GET .../records/{id}) and on correlate as `request`. Credentials are never stored: Authorization, Proxy-Authorization, Cookie and any header or query parameter named like a credential (key, api-key, token, secret, password, session, auth) is stored as \"[redacted]\"; Cloudflare and proxy hop headers (cf-*, x-forwarded-*, x-real-ip, true-client-ip, cdn-loop, host) are dropped. HTML forms (ING-8, #193): when the endpoint has a redirect_url, a browser's native form POST (a form encoding with Sec-Fetch-Mode: navigate, or with an Accept that asks for text/html from an older browser) is answered 303 See Other to that URL once stored (a deduplicated retry too); fetch() calls and servers still get the JSON. CORS: when the request's Origin is in the endpoint's cors_origins (or they include \"*\"), every response carries Access-Control-Allow-Origin, Access-Control-Expose-Headers: Retry-After and Vary: Origin. URL verification (ING-10, #193): an endpoint whose handshake is slack, graph, zoom or twitch answers that provider's challenge with 200 before anything is stored or counted - Slack's url_verification body and Twitch's webhook_callback_verification (Twitch-Eventsub-Message-Type header) with the challenge as text/plain, Microsoft Graph's ?validationToken= with the token as text/plain, and Zoom's endpoint.url_validation with {plainToken, encryptedToken} (HMAC-SHA256 of plainToken under the endpoint's secret token). Every other request is an ordinary event.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug; must not be a reserved root (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug \u2014 the credential. A disabled one answers 503.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset to store the record in, overriding the webhook's configured dataset for this request. No validation is performed; the name is used as given.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. A repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Same parsing as the 3-segment form: urlencoded and multipart are flattened (repeats become arrays, file parts become {filename, type, size} with the bytes discarded); every other body is parsed as JSON first, and textual non-JSON bodies are stored as {body, content_type} (see ingestPathForm); an empty body becomes {}; a non-object payload is wrapped as {\"value\": <payload>}. Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/ingest/{ingest_key}": {
      "post": {
        "operationId": "ingestEvent",
        "summary": "Ingest an event with an ingest key, routed by the project's mapping rules",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Duplicate - this endpoint (or, on /v1/ingest, this ingest key) already stored a submission with the same dedup key, so the retry is answered with the first submission's id and nothing is stored or counted (ING-9, #193). The dedup key is, in order: an Idempotency-Key header; else a provider delivery id kept the same across that provider's retries - webhook-id (Standard Webhooks), svix-id, X-GitHub-Delivery, X-Shopify-Webhook-Id, X-Gitlab-Event-UUID, I-Twilio-Idempotency-Token, Linear-Delivery, Twitch-Eventsub-Message-Id, X-Atlassian-Webhook-Identifier; else Stripe's event id (a body with object 'event' and an evt_ id) or Slack's event_id (type 'event_callback'). The key space is the ENDPOINT's, not the workspace's: two endpoints may receive the same key. `deduplicated_by` names which source matched. A request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "deduplicated_by": {
                      "type": "string",
                      "enum": [
                        "idempotency-key",
                        "standard-webhooks",
                        "svix",
                        "github",
                        "shopify",
                        "gitlab",
                        "twilio",
                        "linear",
                        "twitch",
                        "atlassian",
                        "stripe",
                        "slack"
                      ],
                      "description": "Which dedup source matched."
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored. With no dataset in the path the payload runs through the project's enabled mapping rules (webhook mirror rules excluded), and 'routed' holds the NAME of every rule that matched and applied. No matching rule is still a 201 with routed: [] and records: 0, as is a swallowed routing failure \u2014 the raw submission is always kept.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "names of the mapping rules that applied"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Only when the key has require_signature: 'Signature required' (header absent or no stored secret) or 'Invalid signature'. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. The Cloudflare client IP must satisfy BOTH the key's allowlist and the tenant's (an empty allowlist matches everything); the block is audited. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key' \u2014 no live key with this prefix (revoked, or past its expires_at), hash mismatch, or the key's tenant row is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes' \u2014 from Content-Length, or from the buffered byte length. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: about 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. It is a best-effort burst guard, not an exact count: it is counted separately at each Cloudflare location and catches up within seconds, so a short burst can get through above it. Monthly plan quota, the exact count (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer",
                          "description": "10 (rate limit) or 3600 (quota)"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "quota 429 only"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' (signing secret could not be decrypted) or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored. Logged to the endpoint's rejection log (OBS-3, #193): see GET /admin/api/projects/{project_id}/webhooks/{id}/activity. A refusal never counts against the event quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Generic ingest. PUT is accepted on this same path and behaves identically (see ingestEventPut); every other method returns 405 {\"error\":\"Use POST\"}, including OPTIONS \u2014 there are no CORS headers on this route. Every stored submission keeps the request's method, a filtered header map, the query string, the Content-Type and the source IP (ING-3, #193), shown on the record (GET .../records/{id}) and on correlate as `request`. Credentials are never stored: Authorization, Proxy-Authorization, Cookie and any header or query parameter named like a credential (key, api-key, token, secret, password, session, auth) is stored as \"[redacted]\"; Cloudflare and proxy hop headers (cf-*, x-forwarded-*, x-real-ip, true-client-ip, cdn-loop, host) are dropped.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key. It is looked up by its full SHA-256 hash (#177), among keys that are neither revoked nor expired, and compared constant-time; key_prefix is only a display label.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission with this key already exists for the tenant, the request short-circuits with 200 before the monthly quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
[...]
