{
  "openapi": "3.1.0",
  "info": {
    "title": "Hookie API",
    "version": "1.0.0",
    "summary": "Capture, route and deliver webhooks.",
    "description": "Hookie exposes three HTTP surfaces.\n\n**Ingest + streaming** is the public plane. A path-form endpoint URL authenticates by its own high-entropy slug \u2014 there is no key, token or cookie \u2014 and an `ik_live_\u2026` ingest key authenticates the `/v1/*` routes. Whenever the URL names a dataset the payload is stored whole into it; project mapping rules are evaluated on exactly one shape, `POST /v1/ingest/{ingest_key}` with no dataset segment.\n\n**The customer portal API** is a separate, token-authed surface for your end customers, scoped to one portal and one customer.\n\n**The admin API** drives the console. It accepts either a browser session or an OAuth bearer token from a connected coding agent \u2014 the same routes, the same validation, the same audit trail. An agent's authority is its user's workspace role narrowed to the scopes granted in the console.\n\n**A refused agent is told how to proceed.** An agent's grant is one rung of a ladder \u2014 `hookie:read` < `hookie:write` < `hookie:manage` \u2014 and a call above it answers 403 with `code: \"agent_scope_insufficient\"`, the `required_scope`, the `granted_scopes` and a `manage_url` to the console page where its user widens it. When the user's own role is the limit the code is `insufficient_role` and there is no link, because no grant can exceed the user; billing, platform admin, managing connected agents and destination signing secrets answer `agent_not_permitted` at every scope. A human in the console still reads `Insufficient role`.\n\n**A suspended workspace** (an operator action, for abuse or non-payment) answers every surface with 403 and `reason: \"workspace_suspended\"`: ingest (endpoint URLs and ingest keys), `/v1/data` and `/v1/stream` refuse before anything is stored or counted, and every admin API write \u2014 console, OAuth agent or hosted MCP alike \u2014 is refused except billing, platform admin, connected-agent management and the POST-bodied searches. The customer portal API is read-only in the same way: destination writes answer 403 `workspace_suspended`. Reads keep working. Nothing is sent while it is suspended: pending deliveries are paused, workflow runs already under way are paused, open `/v1/stream` connections are closed, and cron triggers, database sources and WebSocket listeners stop. Reinstating sends the paused deliveries, resumes the paused workflow runs where they stopped, and resumes the rest; no stored data is lost.\n\nThis document is generated from the request handlers and adversarially verified against them.",
    "contact": {
      "name": "Hookie",
      "url": "https://hookie.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://hookie.ai/legal/terms"
    }
  },
  "servers": [
    {
      "url": "https://app.hookie.ai",
      "description": "Production"
    },
    {
      "url": "https://app.preview.hookie.ai",
      "description": "Preview"
    }
  ],
  "tags": [
    {
      "name": "Ingest",
      "description": "Send events to Hookie."
    },
    {
      "name": "Streaming",
      "description": "Tail events in real time over SSE or WebSocket."
    },
    {
      "name": "Portal",
      "description": "Token-authed surface for your end customers."
    },
    {
      "name": "Projects",
      "description": "Projects and their settings."
    },
    {
      "name": "Routing",
      "description": "Rules, endpoints, datasets and records."
    },
    {
      "name": "Delivery",
      "description": "Destinations, deliveries and replay."
    },
    {
      "name": "Workflows",
      "description": "Multi-step workflows, triggers and AI agents."
    },
    {
      "name": "Observability",
      "description": "Search, correlation, stats and the audit log."
    },
    {
      "name": "Workspace",
      "description": "Members, connected agents, SSO and billing."
    },
    {
      "name": "Data API",
      "description": "Read-only access to the datasets and columns a project exposes, with per-project keys."
    },
    {
      "name": "Broadcast Logs",
      "description": "Forward a project's logs and traces over OTLP/HTTP (JSON) to Datadog, Grafana Cloud, an OpenTelemetry Collector, PostHog or Sentry."
    }
  ],
  "components": {
    "securitySchemes": {
      "ingestKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An `ik_live_\u2026` ingest key. Stored hashed; the plaintext is returned once at creation."
      },
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "hookie_session",
        "description": "The console's sealed session cookie, set by WorkOS AuthKit. Mutating requests also require the `X-Requested-With` CSRF header."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "An OAuth 2.1 access token from a connected agent, audienced at the `/mcp` resource URI. The agent acts as its user, with that user's role narrowed to the granted `hookie:*` scopes. No CSRF header is required \u2014 a bearer token is not ambient credentials."
      },
      "portalTokenHeader": {
        "type": "http",
        "scheme": "bearer",
        "description": "A `hpt_\u2026` customer portal token, as `Authorization: Bearer`. Stored hashed and looked up by its full SHA-256 hash; shown once at issue. The query string (`?token=`) is not accepted: a token there ends up in request logs and traces. A browser page trades the token for a `portalSession` cookie with POST /portal/api/session."
      },
      "dataApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A project Data API key (hdk_\u2026), created in the project's Settings \u2192 Data API."
      },
      "portalSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-hookie_portal",
        "description": "The customer portal's session cookie, set by POST /portal/api/session: sealed (AES-GCM), HttpOnly, Secure, SameSite=None, Partitioned, and valid for 8 hours or until the token expires, whichever is sooner. It names the token rather than copying what it grants, so revoking the token or switching the portal off ends the session at once. Requests other than GET made with it must carry `X-Requested-With: fetch` (CSRF)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable reason."
          },
          "retry_after": {
            "type": "integer",
            "description": "Seconds to wait. Present on 429."
          },
          "upgrade_url": {
            "type": "string",
            "format": "uri",
            "description": "Present only on a monthly-quota 429."
          },
          "reason": {
            "type": "string",
            "description": "Machine-readable reason, where the status alone is ambiguous. `workspace_suspended` (403): the workspace is suspended; `delivery_allowance_exhausted` (429): a replay was refused because the monthly delivery allowance is used."
          },
          "code": {
            "type": "string",
            "enum": [
              "agent_scope_insufficient",
              "insufficient_role",
              "agent_not_permitted"
            ],
            "description": "Present on a 403 to an OAuth-connected agent. `agent_scope_insufficient`: the agent's grant is below what the call needs, and widening it would let the call through (see `required_scope` and `manage_url`). `insufficient_role`: the user's OWN workspace role does not allow the call, so no grant can \u2014 a workspace owner or admin has to change the role. `agent_not_permitted`: no connected agent may do this at any scope (billing, platform admin, managing connected agents, a destination's signing secret)."
          },
          "required_scope": {
            "type": "string",
            "enum": [
              "hookie:read",
              "hookie:write",
              "hookie:manage"
            ],
            "description": "With `code`: the scope the refused call needs."
          },
          "granted_scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "With `code`: the scopes the agent's grant holds now."
          },
          "manage_url": {
            "type": "string",
            "format": "uri",
            "description": "With `code: \"agent_scope_insufficient\"` only: the console's Settings \u2192 Connected agents page, opened on this agent (`\u2026/#/settings/agents?client=<client_id>`), where its user widens the grant. The change applies on the agent's next request."
          }
        }
      },
      "DeliveryEnvelope": {
        "type": "object",
        "description": "The body of every outbound delivery. Always this envelope; the record's payload is under data. Verify signatures over the raw bytes as received, never a re-serialisation.",
        "required": [
          "id",
          "dataset",
          "received_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The record (event) id. The same on every retry and replay of it."
          },
          "dataset": {
            "type": "string"
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "description": "The record's payload, as routed."
          }
        }
      }
    }
  },
  "paths": {
    "/{workspace}/{project}/{webhook}": {
      "post": {
        "operationId": "ingestPathForm",
        "summary": "Ingest an event through the public webhook URL",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string",
                      "description": "id of the submission stored by the first request"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and routed. The payload is identity-routed into the webhook's configured dataset, so 'routed' holds exactly that dataset name. Routing errors after the submission row is written are swallowed (the raw submission is never lost), which surfaces as routed: [] and records: 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "the dataset the record landed in"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. The Cloudflare client IP must match BOTH the webhook's IP allowlist and the tenant's (an empty allowlist matches everything; a request with no client IP skips the check). The block is written to the audit log. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint'. Uniform miss for any of: unknown workspace slug, unknown project slug, unknown webhook slug. A webhook that exists but is disabled answers 503 instead. After a rotation the previous webhook slug is still accepted until its overlap ends, then it is 404 like any unknown slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'. Checked against Content-Length first, then against the buffered byte length.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. Monthly plan quota (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer",
                          "description": "seconds: 10 for the edge rate limit, 3600 for the monthly quota"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "monthly-quota 429 only"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Could not store submission' \u2014 the submissions insert failed with no idempotency winner to fall back to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The endpoint exists but is disabled: {error: 'This endpoint is disabled, so events sent to it are not being stored. ...', reason: 'endpoint_disabled'}. Nothing is stored and no quota is charged. It is deliberately not the 404 of a wrong URL: providers treat a 404 as a dead endpoint (and may disable it or drop the events), while a 503 is retried, so events sent while it is disabled can still arrive if it is enabled again within the provider's retry window.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "enum": [
                            "endpoint_disabled"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Public webhook URL, app.hookie.ai/{workspace}/{project}/{webhook}. POST ONLY: index.ts:190 gates the route on req.method === 'POST', so PUT/GET/OPTIONS on this path never reach the ingest handler \u2014 they fall through to the SPA asset handler and return the console HTML, not a 405 JSON. Only 3- or 4-segment paths match.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug. Must not be one of the reserved roots reserved for app internals (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp) \u2014 those never reach the ingest handler.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug. This high-entropy slug IS the credential \u2014 no key, token or cookie is sent. A disabled webhook answers 503 rather than 404.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission already exists for this tenant with the same key, the request short-circuits with 200 before the monthly quota is charged, so retries are free.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Content-Type selects the parser: 'application/x-www-form-urlencoded' and 'multipart/form-data' are flattened into a shallow object (a field that repeats becomes an array; a file part becomes {filename, type, size} and its BYTES ARE DISCARDED; field names are kept verbatim and flat, so an input named user.email stays the key 'user.email'). ANY other body is parsed as JSON first, whatever its Content-Type (a missing or wrong one included). A body that is not JSON is kept as text when its Content-Type is textual: text/* (plain, csv, xml, ...), application/xml or any +xml type, NDJSON / JSON Lines (application/x-ndjson, application/ndjson, application/jsonl, application/x-jsonlines), application/csv and YAML. It is stored as one event, {\"body\": \"<the text, verbatim>\", \"content_type\": \"<media type, lowercased, parameters stripped>\"}, decoded as UTF-8; NDJSON is not split into several events. A body that does parse as JSON is stored as JSON whatever its Content-Type, exactly as before, so a provider that posts JSON as text/plain still gets an object. A non-JSON body that declares JSON (or no Content-Type) is 400, and one of any other type (application/octet-stream, image/*, ...) is 415. An empty body is accepted and becomes {}. A payload that is not a JSON object (array or scalar) is wrapped as {\"value\": <payload>} before it is stored as a record. Bodies over 1,000,000 bytes are rejected with 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value. Objects are stored field-for-field; arrays and scalars are wrapped as {value: <payload>}."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "description": "File part descriptor; the bytes are not stored.",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": []
      }
    },
    "/{workspace}/{project}/{webhook}/{dataset}": {
      "post": {
        "operationId": "ingestPathFormToDataset",
        "summary": "Ingest an event through the public webhook URL, naming its dataset",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and identity-routed into {dataset}; 'routed' holds that dataset name. A swallowed routing error surfaces as routed: [] and records: 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The fourth segment names a dataset other than the endpoint's own. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint' \u2014 unknown workspace/project slug or unknown webhook slug (a disabled one answers 503). After a rotation the previous webhook slug is still accepted until its overlap ends, then it is 404 like any unknown slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. Monthly plan quota (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Could not store submission' \u2014 the submissions insert failed with no idempotency winner to fall back to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The endpoint exists but is disabled: {error: 'This endpoint is disabled, so events sent to it are not being stored. ...', reason: 'endpoint_disabled'}. Nothing is stored and no quota is charged. It is deliberately not the 404 of a wrong URL: providers treat a 404 as a dead endpoint (and may disable it or drop the events), while a 503 is retried, so events sent while it is disabled can still arrive if it is enabled again within the provider's retry window.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "enum": [
                            "endpoint_disabled"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Four-segment form of the public webhook URL. POST only (index.ts:190); other methods fall through to the SPA. The fourth segment must be the endpoint's OWN dataset: any other value is refused with 403. It used to override the dataset with any dataset in the project, which let anyone holding a public endpoint URL (one embedded in an HTML form, say) write into every dataset in the project and set off its destinations, triggers and workflows. To route one source into several datasets, use an ingest key: POST /v1/ingest/{ingest_key}/{dataset}.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug; must not be a reserved root (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug \u2014 the credential. A disabled one answers 503.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset to store the record in, overriding the webhook's configured dataset for this request. No validation is performed; the name is used as given.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. A repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Same parsing as the 3-segment form: urlencoded and multipart are flattened (repeats become arrays, file parts become {filename, type, size} with the bytes discarded); every other body is parsed as JSON first, and textual non-JSON bodies are stored as {body, content_type} (see ingestPathForm); an empty body becomes {}; a non-object payload is wrapped as {\"value\": <payload>}. Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/ingest/{ingest_key}": {
      "post": {
        "operationId": "ingestEvent",
        "summary": "Ingest an event with an ingest key, routed by the project's mapping rules",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored. With no dataset in the path the payload runs through the project's enabled mapping rules (webhook mirror rules excluded), and 'routed' holds the NAME of every rule that matched and applied. No matching rule is still a 201 with routed: [] and records: 0, as is a swallowed routing failure \u2014 the raw submission is always kept.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "names of the mapping rules that applied"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Only when the key has require_signature: 'Signature required' (header absent or no stored secret) or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. The Cloudflare client IP must satisfy BOTH the key's allowlist and the tenant's (an empty allowlist matches everything); the block is audited. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key' \u2014 no live key with this prefix (revoked, or past its expires_at), hash mismatch, or the key's tenant row is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes' \u2014 from Content-Length, or from the buffered byte length.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. Monthly plan quota (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer",
                          "description": "10 (rate limit) or 3600 (quota)"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "quota 429 only"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' (signing secret could not be decrypted) or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Generic ingest. PUT is accepted on this same path and behaves identically (see ingestEventPut); every other method returns 405 {\"error\":\"Use POST\"}, including OPTIONS \u2014 there are no CORS headers on this route.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key. It is looked up by its full SHA-256 hash (#177), among keys that are neither revoked nor expired, and compared constant-time; key_prefix is only a display label.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission with this key already exists for the tenant, the request short-circuits with 200 before the monthly quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the ingest key has require_signature set; ignored otherwise. Format: 't=<unix-timestamp>,v1=<hex>' where v1 is HMAC-SHA-256 over '<t>.<raw body>' keyed with the key's signing secret.",
            "schema": {
              "type": "string",
              "example": "t=1700000000,v1=3ba8c0e9..."
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Content-Type selects the parser: 'application/x-www-form-urlencoded' and 'multipart/form-data' are flattened into a shallow object (repeated fields become arrays; file parts become {filename, type, size} and their bytes are discarded). EVERY other body is parsed as JSON first, whatever its Content-Type (missing or wrong ones included, which is deliberate so webhook providers that send JSON with an unhelpful Content-Type still work). A body that is not JSON is kept as text when its Content-Type is textual: text/* (plain, csv, xml, ...), application/xml or any +xml type, NDJSON / JSON Lines (application/x-ndjson, application/ndjson, application/jsonl, application/x-jsonlines), application/csv and YAML. It is stored as one event, {\"body\": \"<the text, verbatim>\", \"content_type\": \"<media type, lowercased, parameters stripped>\"}, decoded as UTF-8; NDJSON is not split into several events. A body that does parse as JSON is stored as JSON whatever its Content-Type, exactly as before, so a provider that posts JSON as text/plain still gets an object. A non-JSON body that declares JSON (or no Content-Type) is 400, and one of any other type (application/octet-stream, image/*, ...) is 415. An empty body is accepted and becomes {}. Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value. On this route the payload is fed to the project's mapping rules, so its shape is whatever the rules' conditions and mappings expect."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      },
      "put": {
        "operationId": "ingestEventPut",
        "summary": "Ingest an event with an ingest key (PUT alias of ingestEvent)",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay of a submission already stored under this Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored; 'routed' holds the names of the mapping rules that applied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "'Signature required' or 'Invalid signature' (signature-required keys only).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. Monthly plan quota (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PUT is accepted verbatim \u2014 the handler's only method check allows POST and PUT, and nothing downstream branches on the method. Not idempotent in the HTTP sense: each PUT stores a new submission unless an Idempotency-Key repeats.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key (looked up by its full SHA-256 hash, #177; revoked and expired keys never match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional; a repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the key has require_signature. Format 't=<unix-timestamp>,v1=<hex>', v1 = HMAC-SHA-256 over '<t>.<raw body>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Identical to POST /v1/ingest/{ingest_key}: form encodings are flattened, anything else is parsed as JSON first and textual non-JSON bodies are stored as {body, content_type}, an empty body becomes {}, and bodies over 1,000,000 bytes are rejected with 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      }
    },
    "/v1/ingest/{ingest_key}/{dataset}": {
      "post": {
        "operationId": "ingestEventToDataset",
        "summary": "Ingest an event with an ingest key straight into a named dataset",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and identity-routed; 'routed' is the single-element array holding {dataset}. A swallowed routing failure surfaces as routed: [] and records: 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Signature-required keys only: 'Signature required' or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed' \u2014 key allowlist AND tenant allowlist must both match. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key' \u2014 unknown/revoked key, hash mismatch, or missing tenant row. An unknown dataset name is NOT a 404; the dataset is created implicitly by the write.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. Monthly plan quota (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Same pipeline as ingestEvent but with identity routing into {dataset}. PUT is accepted identically (ingestEventToDatasetPut); any other method returns 405 {\"error\":\"Use POST\"}.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key (looked up by its full SHA-256 hash, #177; revoked and expired keys never match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset name. Its presence switches routing to identity: the whole payload is stored as one record in this dataset and the project's mapping rules are NOT consulted. The name is used as given (no validation, no lookup) and it overrides the key's dataset_default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional; a repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the key has require_signature. Format 't=<unix-timestamp>,v1=<hex>', v1 = HMAC-SHA-256 over '<t>.<raw body>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Form encodings are flattened (repeats become arrays, file parts become {filename, type, size} with the bytes discarded); every other body is parsed as JSON first, and textual non-JSON bodies are stored as {body, content_type} (see ingestEvent); an empty body becomes {}. On this route a payload that is not a JSON object (array or scalar) is wrapped as {\"value\": <payload>} before it is stored. Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value; objects are stored field-for-field, arrays and scalars are wrapped as {value: <payload>}."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      },
      "put": {
        "operationId": "ingestEventToDatasetPut",
        "summary": "Ingest an event into a named dataset (PUT alias of ingestEventToDataset)",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay under an existing Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and identity-routed into {dataset}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "'Signature required' or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The body is not JSON and its Content-Type is neither a form encoding nor a textual type that can be stored as {body, content_type} (for example application/octet-stream or image/png). The error names the Content-Type. Nothing is stored and no quota is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two cases, each with a Retry-After response header in seconds that equals the retry_after body field. Edge burst limit: 100 requests per 10 seconds per credential (one endpoint URL, or one ingest key), the same on every plan: {error: 'Rate limit exceeded', retry_after: 10} with Retry-After: 10. Monthly plan quota (the plan's events plus its soft cap: +10% on Pro and Team, none on Free): {error: 'Monthly event quota reached: this event was not stored. The quota resets at <reset_at>; upgrade the plan to raise it sooner.', reason: 'quota_exceeded', limit: <events at which ingest refuses>, reset_at: '<00:00 UTC on the 1st of next month>', upgrade_url: '<APP_ORIGIN>/#/settings/billing', retry_after: 3600} with Retry-After: 3600. The event is refused, not queued: nothing is stored, so a sender must retry it after reset_at or an upgrade. Only the quota case carries reason, limit, reset_at and upgrade_url; branch on reason, not on the error text. Both limiters fail open if their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "quota_exceeded"
                          ],
                          "description": "monthly-quota 429 only: quota_exceeded"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "monthly-quota 429 only: the event count at which ingest refuses (the plan's events plus its soft cap)"
                        },
                        "reset_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "monthly-quota 429 only: when the quota resets, 00:00 UTC on the 1st of next month"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying: 10 for the edge burst limit, 3600 for the monthly quota. Same value as retry_after in the body.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "508": {
            "description": "Loop detected: the request's `Hookie-Hop` header says this event has already passed through Hookie 8 times, which almost always means a destination is delivering back into an endpoint that feeds it. Nothing is stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PUT alias; behaviour is byte-for-byte the same as the POST operation.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset name; forces identity routing (mapping rules are not consulted).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional; a repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the key has require_signature. Format 't=<unix-timestamp>,v1=<hex>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Identical to the POST form: form encodings flattened, everything else parsed as JSON first with textual non-JSON bodies stored as {body, content_type}, empty body becomes {}, non-object payloads wrapped as {\"value\": <payload>}, 1,000,000-byte cap.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Plain text, e.g. an alert. Stored as {body, content_type} unless it parses as JSON."
              }
            },
            "application/xml": {
              "schema": {
                "type": "string",
                "description": "XML, e.g. a SOAP outbound message (text/xml and +xml types too). Stored as {body, content_type}."
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV. Stored whole as {body, content_type}; rows are not split."
              }
            },
            "application/x-ndjson": {
              "schema": {
                "type": "string",
                "description": "NDJSON / JSON Lines. Stored whole as {body, content_type}; lines are not split into events. A single line that is itself valid JSON is stored as JSON."
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      }
    },
    "/v1/webhooks/{ingest_key}/{slug}": {
      "post": {
        "operationId": "ingestWebhookEvent",
        "summary": "Ingest an event into a configured webhook endpoint using an ingest key",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant (or a concurrent insert lost the unique race). No quota charged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored. If the webhook rule's conditions are empty or match the payload, the rule is applied and 'routed' holds its NAME; if the conditions do not match, the submission is still stored and the response is 201 with routed: [] and records: 0. A swallowed routing failure looks the same.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "the applied rule's name, or empty when the conditions did not match"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed: 'Body must be valid JSON' (the body declares application/json, a +json type or no Content-Type, and does not parse) or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Signature-required keys only: 'Signature required' or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed' \u2014 the client IP failed the key allowlist or the tenant allowlist; the block is audited. Also `reason: \"workspace_suspended\"` when the workspace has been suspended by the operator: nothing is stored, counted or charged, so a sender should retry after the workspace is reinstated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
[...]
