{
  "openapi": "3.1.0",
  "info": {
    "title": "Hookie API",
    "version": "1.0.0",
    "summary": "Capture, route and deliver webhooks.",
    "description": "Hookie exposes three HTTP surfaces.\n\n**Ingest + streaming** is the public plane. A path-form endpoint URL authenticates by its own high-entropy slug \u2014 there is no key, token or cookie \u2014 and an `ik_live_\u2026` ingest key authenticates the `/v1/*` routes. Whenever the URL names a dataset the payload is stored whole into it; project mapping rules are evaluated on exactly one shape, `POST /v1/ingest/{ingest_key}` with no dataset segment.\n\n**The customer portal API** is a separate, token-authed surface for your end customers, scoped to one portal and one customer.\n\n**The admin API** drives the console. It accepts either a browser session or an OAuth bearer token from a connected coding agent \u2014 the same routes, the same validation, the same audit trail. An agent's authority is its user's workspace role narrowed to the scopes granted in the console.\n\nThis document is generated from the request handlers and adversarially verified against them.",
    "contact": {
      "name": "Hookie",
      "url": "https://hookie.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://hookie.ai/legal/terms"
    }
  },
  "servers": [
    {
      "url": "https://app.hookie.ai",
      "description": "Production"
    },
    {
      "url": "https://app.preview.hookie.ai",
      "description": "Preview"
    }
  ],
  "tags": [
    {
      "name": "Ingest",
      "description": "Send events to Hookie."
    },
    {
      "name": "Streaming",
      "description": "Tail events in real time over SSE or WebSocket."
    },
    {
      "name": "Portal",
      "description": "Token-authed surface for your end customers."
    },
    {
      "name": "Projects",
      "description": "Projects and their settings."
    },
    {
      "name": "Routing",
      "description": "Rules, endpoints, datasets and records."
    },
    {
      "name": "Delivery",
      "description": "Destinations, deliveries and replay."
    },
    {
      "name": "Workflows",
      "description": "Multi-step workflows, triggers and AI agents."
    },
    {
      "name": "Observability",
      "description": "Search, correlation, stats and the audit log."
    },
    {
      "name": "Workspace",
      "description": "Members, connected agents, SSO and billing."
    }
  ],
  "components": {
    "securitySchemes": {
      "ingestKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An `ik_live_\u2026` ingest key. Stored hashed; the plaintext is returned once at creation."
      },
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "hookie_session",
        "description": "The console's sealed session cookie, set by WorkOS AuthKit. Mutating requests also require the `X-Requested-With` CSRF header."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "An OAuth 2.1 access token from a connected agent, audienced at the `/mcp` resource URI. The agent acts as its user, with that user's role narrowed to the granted `hookie:*` scopes. No CSRF header is required \u2014 a bearer token is not ambient credentials."
      },
      "portalTokenHeader": {
        "type": "http",
        "scheme": "bearer",
        "description": "A `hpt_\u2026` customer portal token, as `Authorization: Bearer`. Stored hashed; shown once at issue."
      },
      "portalTokenQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "The same portal token in the query string, for embedding the portal in an iframe where a header cannot be set."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable reason."
          },
          "retry_after": {
            "type": "integer",
            "description": "Seconds to wait. Present on 429."
          },
          "upgrade_url": {
            "type": "string",
            "format": "uri",
            "description": "Present only on a monthly-quota 429."
          }
        }
      }
    }
  },
  "paths": {
    "/{workspace}/{project}/{webhook}": {
      "post": {
        "operationId": "ingestPathForm",
        "summary": "Ingest an event through the public webhook URL",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string",
                      "description": "id of the submission stored by the first request"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and routed. The payload is identity-routed into the webhook's configured dataset, so 'routed' holds exactly that dataset name. Routing errors after the submission row is written are swallowed (the raw submission is never lost), which surfaces as routed: [] and records: 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "the dataset the record landed in"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body could not be parsed. error is 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. The Cloudflare client IP must match BOTH the webhook's IP allowlist and the tenant's (an empty allowlist matches everything; a request with no client IP skips the check). The block is written to the audit log.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint'. Uniform miss for any of: unknown workspace slug, unknown project slug, unknown or disabled webhook slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'. Checked against Content-Length first, then against the buffered byte length.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two distinct cases, both with a retry_after body field and NO Retry-After response header. Edge burst limit: {error: 'Rate limit exceeded', retry_after: 10}. Monthly plan quota: {error: 'Monthly event quota exceeded', upgrade_url: '<APP_ORIGIN>/settings/billing', retry_after: 3600}. Only the quota case carries upgrade_url. Both limiters fail open if their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer",
                          "description": "seconds: 10 for the edge rate limit, 3600 for the monthly quota"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "monthly-quota 429 only"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Could not store submission' \u2014 the submissions insert failed with no idempotency winner to fall back to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Public webhook URL, app.hookie.ai/{workspace}/{project}/{webhook}. POST ONLY: index.ts:190 gates the route on req.method === 'POST', so PUT/GET/OPTIONS on this path never reach the ingest handler \u2014 they fall through to the SPA asset handler and return the console HTML, not a 405 JSON. Only 3- or 4-segment paths match.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug. Must not be one of the reserved roots reserved for app internals (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp) \u2014 those never reach the ingest handler.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug. This high-entropy slug IS the credential \u2014 no key, token or cookie is sent. Only an enabled webhook (enabled = 1) matches.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission already exists for this tenant with the same key, the request short-circuits with 200 before the monthly quota is charged, so retries are free.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Content-Type selects the parser: 'application/x-www-form-urlencoded' and 'multipart/form-data' are flattened into a shallow object (a field that repeats becomes an array; a file part becomes {filename, type, size} and its BYTES ARE DISCARDED; field names are kept verbatim and flat, so an input named user.email stays the key 'user.email'). ANY other Content-Type \u2014 including a missing or wrong one \u2014 is parsed as JSON. An empty body is accepted and becomes {}. A payload that is not a JSON object (array or scalar) is wrapped as {\"value\": <payload>} before it is stored as a record. Bodies over 1,000,000 bytes are rejected with 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value. Objects are stored field-for-field; arrays and scalars are wrapped as {value: <payload>}."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "description": "File part descriptor; the bytes are not stored.",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{workspace}/{project}/{webhook}/{dataset}": {
      "post": {
        "operationId": "ingestPathFormToDataset",
        "summary": "Ingest an event through the public webhook URL, overriding the dataset",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and identity-routed into {dataset}; 'routed' holds that dataset name. A swallowed routing error surfaces as routed: [] and records: 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error: 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed' \u2014 the client IP failed the webhook allowlist or the tenant allowlist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown endpoint' \u2014 unknown workspace/project slug or unknown/disabled webhook slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Edge rate limit {error: 'Rate limit exceeded', retry_after: 10} or monthly quota {error: 'Monthly event quota exceeded', upgrade_url: '<APP_ORIGIN>/settings/billing', retry_after: 3600}. No Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Could not store submission' \u2014 the submissions insert failed with no idempotency winner to fall back to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Four-segment form of the public webhook URL. POST only (index.ts:190); other methods fall through to the SPA. The fourth segment overrides the webhook's configured dataset for this request only.",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "Workspace (tenant) slug; must not be a reserved root (api, admin, stripe, v1, assets, settings, favicon.ico, robots.txt, sitemap.xml, index.html, app.js, styles.css, export.js, portal, brand, trial-info, .well-known, mcp).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug within the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook slug \u2014 the credential. Only an enabled webhook matches.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset to store the record in, overriding the webhook's configured dataset for this request. No validation is performed; the name is used as given.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. A repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Same parsing as the 3-segment form: urlencoded and multipart are flattened (repeats become arrays, file parts become {filename, type, size} with the bytes discarded); every other Content-Type is parsed as JSON; an empty body becomes {}; a non-object payload is wrapped as {\"value\": <payload>}. Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/ingest/{ingest_key}": {
      "post": {
        "operationId": "ingestEvent",
        "summary": "Ingest an event with an ingest key, routed by the project's mapping rules",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored. With no dataset in the path the payload runs through the project's enabled mapping rules (webhook mirror rules excluded), and 'routed' holds the NAME of every rule that matched and applied. No matching rule is still a 201 with routed: [] and records: 0, as is a swallowed routing failure \u2014 the raw submission is always kept.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "names of the mapping rules that applied"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error: 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Only when the key has require_signature: 'Signature required' (header absent or no stored secret) or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'. The Cloudflare client IP must satisfy BOTH the key's allowlist and the tenant's (an empty allowlist matches everything); the block is audited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key' \u2014 no non-revoked key with this prefix, hash mismatch, or the key's tenant row is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes' \u2014 from Content-Length, or from the buffered byte length.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Edge burst limit: {error: 'Rate limit exceeded', retry_after: 10}. Monthly plan quota: {error: 'Monthly event quota exceeded', upgrade_url: '<APP_ORIGIN>/settings/billing', retry_after: 3600}. retry_after is a body field only \u2014 no Retry-After response header is set. Both limiters fail open when their backing service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer",
                          "description": "10 (rate limit) or 3600 (quota)"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "quota 429 only"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' (signing secret could not be decrypted) or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Generic ingest. PUT is accepted on this same path and behaves identically (see ingestEventPut); every other method returns 405 {\"error\":\"Use POST\"}, including OPTIONS \u2014 there are no CORS headers on this route.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key. It is looked up by its first 16 characters (key_prefix) among non-revoked keys and then compared constant-time against the stored SHA-256 hash.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. If a submission with this key already exists for the tenant, the request short-circuits with 200 before the monthly quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the ingest key has require_signature set; ignored otherwise. Format: 't=<unix-timestamp>,v1=<hex>' where v1 is HMAC-SHA-256 over '<t>.<raw body>' keyed with the key's signing secret.",
            "schema": {
              "type": "string",
              "example": "t=1700000000,v1=3ba8c0e9..."
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Content-Type selects the parser: 'application/x-www-form-urlencoded' and 'multipart/form-data' are flattened into a shallow object (repeated fields become arrays; file parts become {filename, type, size} and their bytes are discarded). EVERY other Content-Type \u2014 including missing or wrong ones, which is deliberate so webhook providers that send JSON with an unhelpful Content-Type still work \u2014 is parsed as JSON. An empty body is accepted and becomes {}. Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value. On this route the payload is fed to the project's mapping rules, so its shape is whatever the rules' conditions and mappings expect."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      },
      "put": {
        "operationId": "ingestEventPut",
        "summary": "Ingest an event with an ingest key (PUT alias of ingestEvent)",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay of a submission already stored under this Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored; 'routed' holds the names of the mapping rules that applied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error: 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "'Signature required' or 'Invalid signature' (signature-required keys only).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Edge rate limit (retry_after: 10) or monthly quota (upgrade_url + retry_after: 3600).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PUT is accepted verbatim \u2014 the handler's only method check allows POST and PUT, and nothing downstream branches on the method. Not idempotent in the HTTP sense: each PUT stores a new submission unless an Idempotency-Key repeats.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key (prefix lookup + constant-time SHA-256 comparison).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional; a repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the key has require_signature. Format 't=<unix-timestamp>,v1=<hex>', v1 = HMAC-SHA-256 over '<t>.<raw body>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Identical to POST /v1/ingest/{ingest_key}: form encodings are flattened, anything else is parsed as JSON, an empty body becomes {}, and bodies over 1,000,000 bytes are rejected with 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      }
    },
    "/v1/ingest/{ingest_key}/{dataset}": {
      "post": {
        "operationId": "ingestEventToDataset",
        "summary": "Ingest an event with an ingest key straight into a named dataset",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant. No quota is charged when the duplicate is detected up front; a request that loses the unique-index race has already been counted against the monthly quota.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and identity-routed; 'routed' is the single-element array holding {dataset}. A swallowed routing failure surfaces as routed: [] and records: 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error: 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Signature-required keys only: 'Signature required' or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed' \u2014 key allowlist AND tenant allowlist must both match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key' \u2014 unknown/revoked key, hash mismatch, or missing tenant row. An unknown dataset name is NOT a 404; the dataset is created implicitly by the write.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Edge rate limit {error: 'Rate limit exceeded', retry_after: 10} or monthly quota {error: 'Monthly event quota exceeded', upgrade_url: '<APP_ORIGIN>/settings/billing', retry_after: 3600}. No Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Same pipeline as ingestEvent but with identity routing into {dataset}. PUT is accepted identically (ingestEventToDatasetPut); any other method returns 405 {\"error\":\"Use POST\"}.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key (prefix lookup + constant-time SHA-256 comparison; revoked keys never match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset name. Its presence switches routing to identity: the whole payload is stored as one record in this dataset and the project's mapping rules are NOT consulted. The name is used as given (no validation, no lookup) and it overrides the key's dataset_default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional; a repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the key has require_signature. Format 't=<unix-timestamp>,v1=<hex>', v1 = HMAC-SHA-256 over '<t>.<raw body>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Form encodings are flattened (repeats become arrays, file parts become {filename, type, size} with the bytes discarded); every other Content-Type is parsed as JSON; an empty body becomes {}. On this route a payload that is not a JSON object (array or scalar) is wrapped as {\"value\": <payload>} before it is stored. Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value; objects are stored field-for-field, arrays and scalars are wrapped as {value: <payload>}."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      },
      "put": {
        "operationId": "ingestEventToDatasetPut",
        "summary": "Ingest an event into a named dataset (PUT alias of ingestEventToDataset)",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay under an existing Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored and identity-routed into {dataset}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error: 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "'Signature required' or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Edge rate limit (retry_after: 10) or monthly quota (upgrade_url + retry_after: 3600).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' or 'Could not store submission'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PUT alias; behaviour is byte-for-byte the same as the POST operation.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset name; forces identity routing (mapping rules are not consulted).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional; a repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the key has require_signature. Format 't=<unix-timestamp>,v1=<hex>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Identical to the POST form: form encodings flattened, everything else parsed as JSON, empty body becomes {}, non-object payloads wrapped as {\"value\": <payload>}, 1,000,000-byte cap.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      }
    },
    "/v1/webhooks/{ingest_key}/{slug}": {
      "post": {
        "operationId": "ingestWebhookEvent",
        "summary": "Ingest an event into a configured webhook endpoint using an ingest key",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay \u2014 a submission with this Idempotency-Key already exists for the tenant (or a concurrent insert lost the unique race). No quota charged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored. If the webhook rule's conditions are empty or match the payload, the rule is applied and 'routed' holds its NAME; if the conditions do not match, the submission is still stored and the response is 201 with routed: [] and records: 0. A swallowed routing failure looks the same.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "the applied rule's name, or empty when the conditions did not match"
                    },
                    "records": {
                      "type": "integer",
                      "description": "routed.length"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error: 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Signature-required keys only: 'Signature required' or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed' \u2014 the client IP failed the key allowlist or the tenant allowlist; the block is audited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Two messages. 'Unknown ingest key' \u2014 unknown/revoked key, hash mismatch or missing tenant row. 'Unknown webhook endpoint' \u2014 no enabled webhook with that slug in the key's tenant. The slug is resolved BEFORE quota is charged and before the submission is stored, so a bad slug costs nothing and leaves no pending row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Edge rate limit {error: 'Rate limit exceeded', retry_after: 10} or monthly quota {error: 'Monthly event quota exceeded', upgrade_url: '<APP_ORIGIN>/settings/billing', retry_after: 3600}. retry_after is a body field; no Retry-After header is sent.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured' (signing secret could not be decrypted), 'Could not store submission', or 'Webhook rule is malformed' (the rule's conditions/mappings JSON failed to parse \u2014 note the submission has already been stored and the quota already charged at this point).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Key-authenticated form of a webhook endpoint. PUT is accepted identically (ingestWebhookEventPut); any other method returns 405 {\"error\":\"Use POST\"}.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key (prefix lookup + constant-time SHA-256 comparison). It authenticates the request; the tenant it belongs to scopes the webhook lookup.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Webhook slug within the key's tenant. A bare slug selects the most recently created enabled webhook with that base slug; a versioned slug of the form '<base>-v<version>' (version = 1+ digits, optionally .digits, e.g. 'orders-v2' or 'orders-v2.1') pins that exact enabled version. Only enabled webhooks match.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. A repeat key short-circuits with 200 \u2014 after the webhook slug is resolved, but before the monthly quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the ingest key has require_signature set (this route uses the KEY's signature setting and signing secret, not the webhook's). Format 't=<unix-timestamp>,v1=<hex>', v1 = HMAC-SHA-256 over '<t>.<raw body>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Form encodings are flattened (repeats become arrays, file parts become {filename, type, size} with the bytes discarded); every other Content-Type is parsed as JSON; an empty body becomes {}. The parsed payload is evaluated against the webhook's rule conditions and reshaped by its mappings (empty conditions match everything, empty mappings are identity). Over 1,000,000 bytes yields 413.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value; its shape is whatever the webhook's rule conditions and mappings expect."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      },
      "put": {
        "operationId": "ingestWebhookEventPut",
        "summary": "Ingest into a configured webhook endpoint (PUT alias of ingestWebhookEvent)",
        "tags": [
          "Ingest"
        ],
        "responses": {
          "200": {
            "description": "Idempotent replay under an existing Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "idempotent"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "idempotent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Stored; 'routed' holds the webhook rule's name, or is empty when its conditions did not match.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submission_id",
                    "routed",
                    "records"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "submission_id": {
                      "type": "string"
                    },
                    "routed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "records": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error: 'Body must be valid JSON' or 'Body is not valid multipart/form-data'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "'Signature required' or 'Invalid signature'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key' or 'Unknown webhook endpoint'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "error: 'Body exceeds 1000000 bytes'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Edge rate limit (retry_after: 10) or monthly quota (upgrade_url + retry_after: 3600).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "retry_after": {
                          "type": "integer"
                        },
                        "upgrade_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "error: 'Key misconfigured', 'Could not store submission', or 'Webhook rule is malformed'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PUT alias; behaviour is identical to the POST operation.",
        "parameters": [
          {
            "name": "ingest_key",
            "in": "path",
            "required": true,
            "description": "The plaintext ingest key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Webhook slug in the key's tenant; '<base>-v<version>' pins a version, a bare slug takes the newest enabled one.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional; a repeat key short-circuits with 200 before quota is charged.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hookie-Signature",
            "in": "header",
            "required": false,
            "description": "Required only when the ingest key has require_signature. Format 't=<unix-timestamp>,v1=<hex>'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Identical to the POST form: form encodings flattened, everything else parsed as JSON, empty body becomes {}, 1,000,000-byte cap.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Any JSON value."
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "filename",
                        "type",
                        "size"
                      ],
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ingestKey": []
          }
        ]
      }
    },
    "/v1/stream": {
      "get": {
        "operationId": "streamEvents",
        "summary": "Tail the tenant's live event stream over SSE or WebSocket",
        "tags": [
          "Streaming"
        ],
        "responses": {
          "101": {
            "description": "WebSocket upgrade accepted (the request carried 'Upgrade: websocket'). Each live event arrives as one JSON text frame: {seq, id, dataset, received_at, data}. When a resume cursor was supplied and part of the requested window had been evicted, a {\"type\":\"stream-gap\",\"missed_from\":<int>,\"resume_from\":<int>} frame is sent first, followed by the replayable buffered events. The socket is hibernatable and answers a 'ping' text frame with 'pong'. The live path is lossy by contract \u2014 durable delivery is the outbound-delivery queue, not this stream."
          },
          "200": {
            "description": "Server-sent event stream (no Upgrade header). Frames: ': connected' on open, ': keep-alive' every 25 seconds, one 'id: <seq>\\ndata: <json>\\n\\n' frame per event where the JSON is {seq, id, dataset, received_at, data}, and \u2014 on a resume that missed evicted events \u2014 an un-ided 'event: stream-gap\\ndata: {\"missed_from\":<int>,\"resume_from\":<int>}' control frame. A subscriber that stops draining is dropped once its backlog runs past the stream's high-water mark.",
            "headers": {
              "X-Accel-Buffering": {
                "description": "Always 'no' \u2014 disables proxy/CDN buffering so events flush immediately.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "description": "Always '*'. Safe because the stream is key-authenticated and never cookie-authenticated; it also blocks any credentialed cross-origin EventSource.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Cache-Control": {
                "description": "Always 'no-store'.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE frame stream; Content-Type is 'text/event-stream; charset=utf-8'."
                }
              }
            }
          },
          "401": {
            "description": "error: 'Ingest key required' \u2014 neither an 'Authorization: Bearer <key>' header nor a ?key= query parameter was supplied (or both were empty).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "error: 'Source IP not allowed' \u2014 the Cloudflare client IP must satisfy both the key's allowlist and the tenant's (an empty allowlist matches everything). Unlike ingest, this block is not written to the audit log.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "error: 'Unknown ingest key' \u2014 no non-revoked key with this prefix, hash mismatch, or the key's tenant row is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "The tenant's plan cap on concurrent stream connections is reached (open SSE responses and WebSockets are counted together). This response comes from the stream Durable Object rather than the shared apiError helper, so it carries a Retry-After header and no CSP/security headers.",
            "headers": {
              "Retry-After": {
                "description": "Always '30'.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "30"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "required": [
                        "limit"
                      ],
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "description": "the plan's concurrent-connection cap"
                        }
                      }
                    }
                  ],
                  "description": "error is always 'stream connection limit reached'."
                }
              }
            }
          }
        },
        "description": "Read-only live tail of every event fanned out for the key's tenant. It never exposes stored records or the admin API, and it is not project-scoped \u2014 it carries the whole tenant's stream. GET only: any other method returns 405 {\"error\":\"Use GET\"}.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Ingest key as a query parameter, for browser EventSource clients that cannot set headers. Used only when no 'Authorization: Bearer <ingest key>' header is present; if neither is supplied the request is 401. Same key resolution as ingest (prefix lookup + constant-time SHA-256 comparison; revoked keys never match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_seq",
            "in": "query",
            "required": false,
            "description": "Resume cursor: replay buffered events with seq greater than this value. Ignored when a Last-Event-ID header is present. Non-numeric or negative values are treated as absent. The resume buffer holds at most 1000 events and drops anything older than 5 minutes; a request for evicted events still succeeds but is preceded by a stream-gap control event.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "Last-Event-ID",
            "in": "header",
            "required": false,
            "description": "Standard SSE resume header, sent automatically by EventSource on reconnect. Takes precedence over after_seq when present. Same semantics and same 1000-event / 5-minute buffer window.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "Upgrade",
            "in": "header",
            "required": false,
            "description": "Send exactly 'websocket' (compared case-sensitively) to get a 101 WebSocket upgrade instead of an SSE stream. Any other value, or its absence, yields the SSE response.",
            "schema": {
              "type": "string",
              "enum": [
                "websocket"
              ]
            }
          }
        ],
        "security": [
          {
            "ingestKey": []
          }
        ]
      }
    },
    "/portal/api/me": {
      "get": {
        "operationId": "getPortalMe",
        "summary": "Get the portal context for the bearer token",
        "tags": [
          "Customer Portal"
        ],
        "responses": {
          "200": {
            "description": "Portal identity and the datasets it exposes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "portal",
                    "customer_id",
                    "event_types"
                  ],
                  "properties": {
                    "portal": {
                      "type": "object",
                      "required": [
                        "name",
                        "branding"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "portal_configs.name \u2014 the display name the workspace gave this portal."
                        },
                        "branding": {
                          "description": "portal_configs.branding parsed from JSON (e.g. { logo_url?, color? }); {} if the stored value is unparseable.",
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The workspace's own identifier for this end customer, taken from the token (portal_tokens.customer_id). Not settable by the customer."
                    },
                    "event_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Dataset names this portal exposes; [] if the stored value is unparseable. An empty array means no dataset restriction is applied to new destinations."
                    }
                  }
                },
                "example": {
                  "portal": {
                    "name": "Acme Webhooks",
                    "branding": {
                      "color": "#8B5CF6"
                    }
                  },
                  "customer_id": "cus_9182",
                  "event_types": [
                    "orders",
                    "invoices"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, expired token, or the portal is disabled. Body: {\"error\":\"Invalid or expired portal token\"}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Portal access token (hpt_\u2026), as an alternative to the `Authorization: Bearer` header. The header is checked first; the query parameter is used only when no Bearer header is present.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "portalTokenHeader": []
          },
          {
            "portalTokenQuery": []
          }
        ]
      }
    },
    "/portal/api/event-types": {
      "get": {
        "operationId": "listPortalEventTypes",
        "summary": "List the dataset/event types this portal exposes",
        "tags": [
          "Customer Portal"
        ],
        "responses": {
          "200": {
            "description": "The portal's exposed dataset names (same array as `event_types` on /portal/api/me).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event_types"
                  ],
                  "properties": {
                    "event_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "event_types": [
                    "orders",
                    "invoices"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, expired token, or the portal is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Portal access token (hpt_\u2026), as an alternative to the `Authorization: Bearer` header.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "portalTokenHeader": []
          },
          {
            "portalTokenQuery": []
          }
        ]
      }
    },
    "/portal/api/destinations": {
      "get": {
        "operationId": "listPortalDestinations",
        "summary": "List this customer's own destinations",
        "tags": [
          "Customer Portal"
        ],
        "responses": {
          "200": {
            "description": "Destinations owned by this token's (tenant, project, portal, customer), newest first. No pagination and no limit. The signing secret is never returned here \u2014 it is shown once at creation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "destinations"
                  ],
                  "properties": {
                    "destinations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "url",
                          "dataset_filter",
                          "enabled",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Destination id (UUID)."
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "dataset_filter": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Raw stored column: a JSON-encoded array of dataset names (e.g. \"[\\\"orders\\\"]\") or null (no filter = every dataset). The server returns it verbatim; it is NOT parsed into an array."
                          },
                          "enabled": {
                            "type": "integer",
                            "enum": [
                              0,
                              1
                            ],
                            "description": "SQLite integer flag, not a JSON boolean."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "destinations": [
                    {
                      "id": "3f2b\u2026",
                      "name": "Prod receiver",
                      "url": "https://hooks.acme.test/in",
                      "dataset_filter": "[\"orders\"]",
                      "enabled": 1,
                      "created_at": "2026-09-01T12:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, expired token, or the portal is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Portal access token (hpt_\u2026), as an alternative to the `Authorization: Bearer` header.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "portalTokenHeader": []
          },
          {
            "portalTokenQuery": []
          }
        ]
      },
      "post": {
        "operationId": "createPortalDestination",
        "summary": "Create a destination for this customer",
        "tags": [
          "Customer Portal"
        ],
        "responses": {
          "201": {
            "description": "Created. The signing secret is returned once and never again \u2014 the stored copy is encrypted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "signing_secret"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "New destination id (UUID)."
                    },
                    "signing_secret": {
                      "type": "string",
                      "description": "HMAC signing secret, \"whsec_\" followed by 48 lowercase hex characters. Shown once."
                    }
                  }
                },
                "example": {
                  "id": "9c1f\u2026",
                  "signing_secret": "whsec_0a1b\u2026"
                }
              }
            }
          },
          "400": {
            "description": "Validation failure. `error` is one of: \"name is required\" (body absent, not a JSON object, or name missing/blank \u2014 an unparseable body also lands here), \"url must be https\", or \"dataset(s) not exposed by this portal: <comma-separated names>\".",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, expired token, or the portal is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Portal access token (hpt_\u2026), as an alternative to the `Authorization: Bearer` header.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Only `name`, `url` and `dataset_filter` are customer-settable. Every other column is server-controlled and cannot be influenced by the request: `secret` (generated, whsec_ + 48 hex, AES-GCM encrypted at rest), `enabled` (always 1 on create), `created_by` (always \"portal:<customer_id>\"), `tenant_id`, `project_id`, `portal_id`, `customer_id` (all taken from the token), `event_filter` (never set) and `created_at`. Unknown properties in the body are ignored, not rejected.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "url"
                ],
                "additionalProperties": true,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Must be a non-empty string after trimming; stored trimmed."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^[Hh][Tt][Tt][Pp][Ss]://",
                    "description": "Must start with https:// (case-insensitive). No further URL validation is performed and the value is stored verbatim (not trimmed)."
                  },
                  "dataset_filter": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
[...]
